.ukrainians {
	&-section {
		overflow: hidden;
	}
	&__title {
		position: absolute;
		top: calc(var(--pading-top) - 1.5rem);
		z-index: 2;
		margin-bottom: 2rem;
		@media (max-width: 1023px) {
			width: 100%;
			top: 1rem;
			position: relative;
		}
		@media (max-width: 767px) {
			margin-bottom: .5rem;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		height: 100%;
		@media (max-width: 1023px) {
			height: auto;
		}
	}

	&__text {
		width: 52rem;
		font-size: 2.5rem;
		line-height: 1.3;
		margin-top: 3rem;
		@media (max-width: 425px){
			line-height: 1.25;
		}

		h3, h4 {
			font-weight: 700;
			font-size: 3rem;
			line-height: 1.2;
			margin-bottom: 2rem;
		}
	}

	&__img {
		position: absolute;
		top: calc(50% - 22rem);
		width: 55%;
		max-width: 80rem;
		transition: transform .5s ease-out;
		@media (max-width: 1199px) {
			max-width: 68rem;
			top: calc(50% - 19rem);
		}
		img {
			display: block;
			width: 100%;
		}
	}

	&__dots {
		position: absolute;
		left: 0;
		width: 100%;

		&_1 {
			top: 20%;
		}
	}
}

.ukrainians-section:nth-of-type(odd) {
	.ukrainians {
		&__img {
			left: 0;
			transform: translateX(-140%);
		}

		&__text {
			margin-left: auto;
			padding-left: 2rem;
		}
	}
}

.ukrainians-section:nth-of-type(even) {
	.ukrainians {
		&__img {
			right: 0;
			transform: translateX(140%);
		}

		&__text {
			padding-right: 2rem;
		}
	}
}

//responsive
@media (max-width: 1023px) {
	.ukrainians-section:nth-of-type(even),
	.ukrainians-section:nth-of-type(odd) {
		.ukrainians {
			&__info {
				flex-wrap: wrap;
			}

			&__img {
				position: relative;
				top: 0;
			}

			&__text {
				width: 100%;
				padding: 0;
				margin-top: 2.5rem;
			}
		}
	}
	.ukrainians-section:nth-of-type(even) {
		.ukrainians {
			&__img {
				left: 0;
				right: auto;
			}
		}
	}
	.ukrainians-section:nth-of-type(even) {
		.ukrainians {
			&__img {
				right: 0;
				left: auto;
				margin-left: auto;
			}
		}
	}
}

@media (max-width: 767px) {
	.ukrainians-section:nth-of-type(even),
	.ukrainians-section:nth-of-type(odd) {
		.ukrainians {
			&__img {
				width: 100%;
				max-width: 100%;
			}

			&__text {
				font-size: 1.9rem;
				margin-top: 1.6rem;

				h3, h4 {
					font-size: 2.4rem;
					margin-bottom: 1rem;
				}
			}
		}
	}
}

@media (max-width: 425px) {
	.ukrainians-section:nth-of-type(odd) {
		.ukrainians {
			&__img {
				left: -12px;
				top: -5px;
			}
		}
	}
}

@media (max-width: 425px) {
	.ukrainians-section:nth-of-type(even) {
		.ukrainians {
			&__img {
				right: -12px;
				top: -5px;
			}
		}
	}
}
